:root {
  --color-accent-primary: SelectedItem !important;
  --border-radius-medium: var(--breeze-radius) !important;
  --arrowpanel-border-radius: var(--breeze-radius) !important;
  --arrowpanel-menuitem-border-radius: var(--breeze-radius) !important;
  --card-border-radius: var(--breeze-radius) !important;
  --button-background-color-ghost-hover: -moz-menuhover !important;
  --button-text-color-ghost-hover: -moz-menuhovertext !important;
  --button-background-color-ghost-active: -moz-menuhover !important;
  --urlbarView-result-button-hover-color: var(--button-text-color) !important;
  --toolbarbutton-background-color-hover: transparent !important;
  --toolbarbutton-outline-color-hover: SelectedItem !important;
  --toolbarbutton-outline-color-active: SelectedItem !important;
  --toolbarbutton-background-color-active: -moz-menuhover !important;
  --urlbar-box-background-color-hover: transparent !important;
  --urlbar-box-background-color-active: -moz-menuhover !important;
}
