.urlbar-input-container .urlbar-page-action,
.urlbar-input-container box:is([role="button"]),
.searchmode-switcher {
  outline: solid 1px transparent !important;
}

.urlbar-input-container .urlbar-page-action:hover,
.urlbar-input-container box:is([role="button"]):hover {
  background-color: transparent !important;
  outline: solid 1px SelectedItem !important;
}

.searchmode-switcher:hover {
  outline: solid 1px SelectedItem !important;
}

.urlbar-input-container .urlbar-page-action:is([open="true"]),
.urlbar-input-container box:is([role="button"]):is([open="true"]),
.searchmode-switcher:is([open="true"]) {
  background-color: -moz-menuhover !important;
  outline: solid 1px SelectedItem !important;
}

.toolbarbutton-1:hover:not([disabled="true"]) {
  & > .toolbarbutton-icon, & > .toolbarbutton-text, & > .toolbarbutton-badge-stack {
    background-color: transparent !important;
    outline: solid 1px SelectedItem !important;
  }
}

.toolbarbutton-1 {
& > .toolbarbutton-icon, & > .toolbarbutton-text, & > .toolbarbutton-badge-stack {
    outline: solid 1px transparent !important;
  }
}

.toolbarbutton-1:is([open="true"]) {
  & > .toolbarbutton-icon, & > .toolbarbutton-text, & > .toolbarbutton-badge-stack {
    background-color: -moz-menuhover !important;
    outline: solid 1px SelectedItem !important;
  }
}

.tab-close-button.close-icon:hover {
  background-color: #ff9eac !important;
}

.tabbrowser-tab:is([selected="true"]) .tab-close-button.close-icon:hover {
  fill: var(--toolbar-bgcolor) !important;
}
