menuitem,
toolbarbutton,
richlistitem,
.urlbarView-row-inner,
#downloadsHistory {
  border: solid 1px transparent !important;
  border-radius: 5px !important;
}

.downloadButton:hover,
richlistitem:hover,
#downloadsHistory:hover,
menuitem:hover:not([disabled]),
.urlbarView-action-btn:hover {
  border-color: SelectedItem !important;
}

:is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, .widget-overflow-list .toolbarbutton-1, .toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton) {
  &:not([disabled]):not(.unified-extensions-item-menu-button.subviewbutton):hover {
    color: -moz-menuhovertext !important;
    background-color: -moz-menuhover !important;;
    border: solid 1px SelectedItem !important;
  }
}

.searchmode-switcher-panel-list {
  & > panel-item::part(button) {
    border: solid 1px transparent !important;
  }
}

.searchmode-switcher-panel-list {
  & > panel-item::part(button) {
    &:hover {
      color: -moz-menuhovertext !important;
      background-color: -moz-menuhover !important;;
      border: solid 1px SelectedItem !important;
    }
  }
}

.moz-button-subviewbutton-nav {
  &::part(button) {
    border: solid 1px transparent !important;
  }
}

.moz-button-subviewbutton-nav {
  &::part(button) {
    &:hover {
      color: -moz-menuhovertext !important;
      background-color: -moz-menuhover !important;;
      border: solid 1px SelectedItem !important;
    }
  }
}

.urlbarView-row {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.urlbarView-row:hover:not([selected]) {
  color: -moz-menuhovertext !important;
  background-color: -moz-menuhover !important;;
  border: solid 1px SelectedItem !important;
}

.urlbarView-action-btn {
  background-color: transparent !important;
  border: solid 1px transparent !important;
}

.urlbarView-button-menu {
  background-color: transparent !important;
}

.urlbarView-button-menu:hover {
  color: var(--button-text-color) !important;
  box-shadow: inset 0 0 0px 1px SelectedItem !important;
}

.unified-extensions-item-menu-button.subviewbutton {
  &:hover > .toolbarbutton-icon {
    color: -moz-menuhovertext !important;
    background-color: -moz-menuhover !important;;
    border: solid 1px SelectedItem !important;
  }
}
