menuitem,
toolbarbutton,
richlistitem,
.urlbarView-row-inner,
#downloadsHistory {
  border: solid 1px transparent !important;
  border-radius: 4px !important;
}

.downloadButton:hover,
richlistitem:hover,
#downloadsHistory:hover,
menuitem:hover:not([disabled]) {
  border-color: SelectedItem !important;
}

:is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, .widget-overflow-list .toolbarbutton-1, .toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton) {
  &:not([disabled]):hover {
    color: -moz-menuhover-text !important;
    background-color: -moz-menuhover !important;;
    border: solid 1px SelectedItem !important;
  }
}

.searchmode-switcher-panel-list {
  & > panel-item::part(button) {
    border: solid 1px transparent !important;
  }
}

.searchmode-switcher-panel-list {
  & > panel-item::part(button) {
    &:hover {
      color: -moz-menuhover-text !important;
      background-color: -moz-menuhover !important;;
      border: solid 1px SelectedItem !important;
    }
  }
}

.urlbarView-row {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.urlbarView-row-inner:hover:not([selected]) {
  color: -moz-menuhover-text !important;
  background-color: -moz-menuhover !important;;
  border: solid 1px SelectedItem !important;
}
