/* https://https://github.com/AmirhBeigi/zen-floating-statusbar */
#statuspanel {
  margin: 10px !important;
}

#statuspanel-label {
  border-radius: 6px !important;
  padding: 2px 10px !important;
  border: 1px solid var(--chrome-content-separator-color) !important;
  background: var(--toolbar-bgcolor) !important;
}
