:root {
  --toolbar-field-border-color: var(--chrome-content-separator-color) !important;
}

.titlebar-spacer {
  width: 2px !important;
}

#tabbrowser-tabs {
  border-inline-start: none !important;
  padding-inline-start: 0 !important;
  margin-inline-start: 0 !important;
}

.tabbrowser-tab[selected="true"] {
  .tab-background {
    background-color: var(--toolbar-background-color) !important;
    border: solid 1px color-mix(in srgb, var(--toolbox-background-color), light-dark(black, white) 30%) !important;
  }

  .tab-content {
    color: var(--toolbar-color) !important;
  }
}

.tab-background {
  height: 100% !important;
  box-shadow: none !important;
}

.tab-close-button {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
  padding: 2px !important;
  margin: 0px !important;
}

.tab-close-button.close-icon:hover {
  background-color: #ff9eac !important;
}

.close-icon {
  &:hover {
    outline-color: transparent !important;
  }
}

.tabbrowser-tab[selected="true"] .tab-close-button.close-icon:hover {
  color: var(--toolbar-background-color) !important;
}

[open] > .urlbar-background {
  border-radius: 5px !important;
}

#TabsToolbar {
  box-shadow: inset 0 0 0 1px color-mix(in srgb, var(--toolbox-background-color), light-dark(black, white) 30%) !important;
}

#nav-bar {
  border-left: solid 1px color-mix(in srgb, var(--toolbox-background-color), light-dark(black, white) 30%) !important;
  border-right: solid 1px color-mix(in srgb, var(--toolbox-background-color), light-dark(black, white) 30%) !important;
}

#browser {
  border: 1px solid color-mix(in srgb, var(--toolbox-background-color), light-dark(black, white) 30%)  !important;
  border-top: none !important;
}

:root:not([privatebrowsingmode]) :is(toolbarbutton, toolbarpaletteitem), :root[privatebrowsingmode] :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) {
  & ~ #tabbrowser-tabs[orient="horizontal"]::before {
    display: none !important;
  }
}

.titlebar-buttonbox-container {
  margin-left: 4px !important;
}


