@-moz-document url-prefix(about:) {
  :root {
    --color-accent-primary: SelectedItem !important;
    --button-background-color: transparent !important;
    --button-background-color-hover: rgba(currentColor) !important;
    --button-border-color-hover: SelectedItem !important;
    --button-border: solid 1px var(--border-color) !important;
    --button-border-radius: 5px !important;
    --border-radius-medium: 5px !important;
    --border-radius-large: 5px !important;
    --content-search-handoff-ui-border-radius: 5px !important;
    --color-accent-primary-hover: -moz-menuhover !important;
    --button-background-color-primary-hover: -moz-menuhover !important;
    --button-background-color-active: SelectedItem !important;
    --color-accent-primary-active: SelectedItem !important;
    --color-accent-primary-selected: SelectedItem !important;
    --button-background-color-primary: SelectedItem !important;
  }

  #input:is([type="checkbox"]):is([value="on"]),
  .checkbox-check:is([checked="true"]),
  .radio-check:is([selected="true"]) {
    accent-color: SelectedItem !important;
  }

  [role="radio"]:hover:not([checked]) {
    border: solid 1px SelectedItem !important;
  }
}

@-moz-document url-prefix(about:home), url-prefix(about:newtab) {
  :root {
    --newtab-background-card: var(--color-white) !important;
    --newtab-weather-background-color: var(--color-white) !important;
    /*--newtab-background-color: SelectedItem !important;*/
  }

  .search-handoff-button,
  .top-site-outer,
  .top-site-outer .tile {
    border-radius: var(--border-radius-medium) !important;
  }

  .personalize-button {
    background-color: var(--newtab-background-color-secondary) !important;
  }

  .top-sites-list .top-site-outer {
    border: solid 1px transparent !important;
  }

  .top-sites-list:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) {
    background:  color-mix(in srgb, SelectedItem 30%, transparent) !important;
    border: solid 1px SelectedItem !important;
  }
}
