.titlebar-spacer[type="pre-tabs"]
{
    display: none !important;
}

:root:not([privatebrowsingmode]) :is(toolbarbutton, toolbarpaletteitem) ~ #tabbrowser-tabs, :root[privatebrowsingmode] :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) ~ #tabbrowser-tabs {
    border-inline-start: none !important;
    padding-inline-start: 0 !important;
    margin-inline-start: 0 !important;
}

#TabsToolbar .toolbarbutton-1 {
    margin-right: -10px !important;
}
