.tab-stack
{
    margin-inline-end: 1px !important;
}

.tabbrowser-tab:nth-child(1 of .tabbrowser-tab:not([hidden])) > .tab-stack::before,
tab-group + .tabbrowser-tab > .tab-stack::before,
tab-group + .tabbrowser-tab[hidden] + .tabbrowser-tab > .tab-stack::before,
.tab-stack::after
{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 75%; /*50%*/
    border-inline-end: 1px solid currentColor;
    top: 12.5%; /*25%;*/
    opacity: var(--separators-color-saturation);
    box-sizing: border-box;
    pointer-events: none;
}

.tab-stack::before
{
    inset-inline-end: calc(100% + var(--tab-overflow-clip-margin));
}

.tab-stack::after
{
    inset-inline-start: calc(100% + var(--tab-overflow-clip-margin));
}

.tabbrowser-tab:not([hidden]):is([selected], :hover, [multiselected], [dragover-groupTarget]) .tab-stack::before,
.tabbrowser-tab:not([hidden]):is([selected], :hover, [multiselected], [dragover-groupTarget]) .tab-stack::after,
.tabbrowser-tab:not([hidden]):has(+ .tabbrowser-tab[dragover-groupTarget]) .tab-stack::after,
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:not([hidden]):has(+ .tabbrowser-tab:is([selected], :hover, [multiselected]):not([hidden])) .tab-stack::after,
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:not([hidden]):has(+ .tabbrowser-tab[hidden] + .tabbrowser-tab:is([selected], :hover, [multiselected]):not([hidden])) .tab-stack::after
{
    opacity: 0 !important;
}


:root
{
    --separators-color-saturation: 0.1; /* 0.25 */
}


.tab-stack::before
{
    inset-inline-end: 100% !important;
}

.tab-stack::after
{
    inset-inline-start: 100% !important;
}


